@import '~normalize.css/normalize.css';

html,
body {
    height: 100%;
    padding: 0;
    margin: 0;
    min-height: 600px;
    //font-family: 'Orbitron', sans-serif;
    font-family: 'Space Mono', monospace;
}

body {
    user-select: none;
    background-color: #394b59;
    color: #293742;
}

* {
    outline-style: none;
}

#root {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.filler{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
