.bar {
    display: flex;
    padding: 0 10px;

    line-height: 35px;
    height: 35px;
    font-size: 18px;

    background-color: #E1E8ED;
    border-bottom: 1px solid #738694;
}

.section {
    text-align: left;
}

.valueContainer {
    transition: all 100ms linear;
    margin-left: 10px;
    font-weight: bold;
}

.valueContainerActive{
    text-shadow: 0 0 5px rgba(#293742, 0.5);
}
